#details {
  width: 100%;
  border: 2px solid lightgray;
  border-radius: 4px;
  padding: 0.5em 2em 0.5em 2em;
  user-select: none;
}

#details summary {
  width: 240px;
}

#details span {
  display: inline-flex;
  justify-content: start;
  align-items: center;
  width: 70%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#details[open] {
  padding: 10px;
}

#details[open] summary {
  padding: 5px;
}

#details[open] div {
  border: 1px solid lightgray;
  padding: 2.5px 10px 2.5px 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

#details[open] div:hover {
  background-color: lightgray;
}
