/* CSS */

@import "./css//reset.css";
@import "./css/scroll-bar.css";
@import "./css/details.css";

.overflow-hidden {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* TailwindCSS */

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
  @apply text-3xl;
}

h2 {
  @apply text-2xl;
}

h3 {
  @apply text-xl;
}

/* Editor */

.editor-form {
  @apply flex flex-col justify-center;
}

.toolbar-border {
  @apply pr-2 mr-2 border border-r-gray-300 border-y-transparent border-l-transparent flex items-center;
}

/* Components */

.components-input-container {
  @apply flex flex-row items-center justify-center mb-5;
}

.components-input-container input {
  @apply text-base border border-2 border-gray-300 px-5 py-2 w-[500px] focus:border-black mr-5;
}

.components-input-container select {
  @apply outline-none border border-2 border-gray-300 w-[200px] py-2 px-2 focus:border-black text-sm;
}
